body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Amatic SC', cursive;
  text-align: center;
  font-size: 4em;
  line-height: 1;
  margin-bottom: 2em;
}

.score {
  background: rgba(255,255,255,0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
}

.control-panel {
  display: flex;
  padding: 20px 50px;
  justify-content: center;
}

.control-panel__item {
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.hole-list {
  margin-top: 20vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5vw;
  max-width: 85vw;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

.dirt {
  position: relative;
  z-index: 5;
}

.mole {
  display: none;
  max-height: 170px;
}

.active {
  position: relative;
}

.active .mole {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
  z-index: 1;
}
